*, *::before, *::after{
     box-sizing:border-box;
     font-family: monospace;
     font-size: larger;
}
:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
body{
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 30%);
}

body.correct{
    --hue: var(--hue-correct);
    
}

body.wrong{
    --hue: var(--hue-wrong);

}

.container{
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 10px; 
    box-shadow: 0 0 10px 2px ;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto); 
    gap: 10px;
    margin: 20px 0;  /* top and bottom 20px and left and right 0*/
}

.btn{
    --hue: var(--hue-neutral);
    border: 3px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 6px;
    padding: 8px 12px;
    color: white;
    outline: none;
    cursor: pointer;
}

.btn:hover{
    border-color: black;
}

.btn-correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn-wrong{
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}